<header class="hero">
  <div class="hero-container">
    <div class="hero-text-content">
      <h1 class="hero-header">
        Ett bolån hos oss kommer aldrig ensamt. Se allt som ingår.
      </h1>
      <p class="hero-paragraph">Det är skillnad på bolån och bolån.</p>
      <button class="hero-button">Räkna på hur mycket du får låna</button>
    </div>
    <div class="hero-bottom-content">
      <ul class="hero-bottom-list">
        <li class="hero-bottom-list-item">
          <a class="hero-bottom-list-link" href="#">Börs och finans</a>
          <fa-icon [icon]="faArrowRight" size="sm"></fa-icon>
        </li>
        <li class="hero-bottom-list-item">
          <a class="hero-bottom-list-link" href="#">Fondlista</a>
          <fa-icon [icon]="faArrowRight" size="sm"></fa-icon>
        </li>
        <li class="hero-bottom-list-item">
          <a class="hero-bottom-list-link" href="#">Bli kund</a>
          <fa-icon [icon]="faArrowRight" size="sm"></fa-icon>
        </li>
        <li class="hero-bottom-list-item">
          <a class="hero-bottom-list-link" href="#">Vanliga frågor och svar</a>
          <fa-icon [icon]="faArrowRight" size="sm"></fa-icon>
        </li>
        <li class="hero-bottom-list-item specialCase">
          <a class="hero-bottom-list-link" href="#">Skaffa mobilt BankID</a>
          <fa-icon [icon]="faArrowRight" size="sm"></fa-icon>
        </li>
      </ul>
    </div>
  </div>
</header>
