<div class="mega-menu" *ngIf="viewport !== 'large' && viewport !== 'xlarge'">
  <ul class="mega-menu-list">
    <li class="no-children-item">
      <a href="" class="no-children-link">Kundservice</a
      ><fa-icon [icon]="faArrowRight" size="xs"></fa-icon>
    </li>
    <li class="with-children-item">
      <a href="" class="with-children-link">Privat</a
      ><fa-icon [icon]="faArrowRight" size="xs"></fa-icon>
      <section class="submenu-privat">
        <ul class="submenu-privat-list">
          <li class="submenu-privat-item">
            <a class="submenu-privat-link" href="#">Betala</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
          <li class="submenu-privat-item">
            <a class="submenu-privat-link" href="#">Private Banking</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
          <li class="submenu-privat-item">
            <a class="submenu-privat-link" href="#">Händelser i livet</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
          <li class="submenu-privat-item">
            <a class="submenu-privat-link" href="#">Pension och försäkring</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
          <li class="submenu-privat-item">
            <a class="submenu-privat-link" href="#">Bolån och andra lån</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
          <li class="submenu-privat-item">
            <a class="submenu-privat-link" href="#">Hållbarhet</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
          <li class="submenu-privat-item">
            <a class="submenu-privat-link" href="#">Kom igång</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
          <li class="submenu-privat-item">
            <a class="submenu-privat-link" href="#">Ditt sparande</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
        </ul>
      </section>
    </li>
    <li class="with-children-item">
      <a href="" class="with-children-link">Företag</a
      ><fa-icon [icon]="faArrowRight" size="xs"></fa-icon>
      <section class="submenu-företag">
        <ul class="submenu-företag-list">
          <li class="submenu-företag-item">
            <a class="submenu-företag-link" href="#">Bli företagskund</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
          <li class="submenu-företag-item">
            <a class="submenu-företag-link" href="#">Hållbarhet</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
          <li class="submenu-företag-item">
            <a class="submenu-företag-link" href="#">Låna och finansiera</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
          <li class="submenu-företag-item">
            <a class="submenu-företag-link" href="#">Rätt stöd i rätt fas</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
          <li class="submenu-företag-item">
            <a class="submenu-företag-link" href="#"
              >Pension och försäkringar</a
            >
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
          <li class="submenu-företag-item">
            <a class="submenu-företag-link" href="#">Placera pengar</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
          <li class="submenu-företag-item">
            <a class="submenu-företag-link" href="#">Betala och ta betalt</a>
            <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
          </li>
        </ul>
      </section>
    </li>
    <li class="no-children-item">
      <a href="" class="no-children-link">Bli kund</a
      ><fa-icon [icon]="faArrowRight" size="sm"></fa-icon>
    </li>
  </ul>
</div>
