$primary-color: #0092e1;
$font-color: #333333;

.nav {
  font-size: 18px;
  // padding-right: 1rem;
  .fullsize-nav {
    display: flex;
    justify-content: space-between;
    .fullsize-nav-main-container {
      display: flex;
      .fullsize-navbar {
        display: flex;
        .fullsize-navbar-list-item {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0rem 1rem;
          &:hover {
            border-bottom: 5px solid #cecece;
          }
          a {
            padding-right: 7.2px;
            color: $font-color;
          }
        }
      }
    }
    .fullsize-sidenav {
      .fullsize-sidenav-list {
        display: flex;
        height: 100%;
        .fullsize-sidenav-list-item {
          padding: 0rem 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            cursor: pointer;
            background-color: #f8f8f8;
          }
          .fullsize-sidenav-link {
            padding-left: 7.2px;
            color: $font-color;
          }
        }
      }
    }
  }
}

.fullsize-sidenav-list-item-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  button {
    padding: 12px 18px;
    border: none;
    background-color: $primary-color;
    font-size: 18px;
    border-radius: 5px;
    color: #ffffff;
    &:hover {
      cursor: pointer;
      background-color: lighten($primary-color, 5%);
    }
    a {
      color: #ffffff;
      padding-left: 7.2px;
    }
  }
}

.fullsize-logo {
  width: 96px;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  .mobile-logo {
    width: 60px;
  }
  .mobile-sidenav {
    .mobile-sidenav-list {
      display: flex;
      height: 100%;
      .mobile-sidenav-list-item {
        height: 100%;
        padding: 0px 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 360px) {
          padding: 0px 12px;
        }
        &:hover {
          cursor: pointer;
          background-color: #f8f8f8;
        }
      }
    }
  }
}

.mobile-sidenav-list-item-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.5rem;
  button {
    padding: 12px 18px;
    border: none;
    background-color: $primary-color;
    font-size: 18px;
    border-radius: 5px;
    color: #ffffff;
    white-space: nowrap;
    @media (max-width: 360px) {
      font-size: 15px;
    }
    &:hover {
      cursor: pointer;
      background-color: lighten($primary-color, 5%);
    }
    a {
      color: #ffffff;
      padding-left: 7.2px;
    }
  }
}
